packaging_format = 2

id = "wireguard"
name = "WireGuard Server"
description.en = "Fast and modern VPN server, including a configuration webapp"
description.fr = "Serveur VPN rapide et moderne, incluant une webapp pour le configurer"

version = "0.6.2~ynh4"

maintainers = ["tituspijean"]

[upstream]
license = "MIT"
website = "https://www.wireguard.com/"
code = "https://github.com/ngoduykhanh/wireguard-ui"

[integration]
yunohost = ">= 12.0.9"
architectures = "all"
multi_instance = false
ldap = false
sso = false
disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

[resources]
        [resources.sources.main]
        in_subdir = false
        arm64.url = "https://github.com/ngoduykhanh/wireguard-ui/releases/download/v0.6.2/wireguard-ui-v0.6.2-linux-arm64.tar.gz"
        arm64.sha256 = "4d40cdd135381faacb8d09c8046512ecb7a37e9b8cbd58f86022d8dd093de23b"
        amd64.url = "https://github.com/ngoduykhanh/wireguard-ui/releases/download/v0.6.2/wireguard-ui-v0.6.2-linux-amd64.tar.gz"
        amd64.sha256 = "2769536c2ef4cc3630b209675167afd5f199f4cc9f9f0d22ce492592dc1dc68d"
        armhf.url = "https://github.com/ngoduykhanh/wireguard-ui/releases/download/v0.6.2/wireguard-ui-v0.6.2-linux-arm.tar.gz"
        armhf.sha256 = "8d8421557d857bd1af548c2e7951afe46f87c0b654b9d5c01d78e09e155b456f"
        i386.url = "https://github.com/ngoduykhanh/wireguard-ui/releases/download/v0.6.2/wireguard-ui-v0.6.2-linux-386.tar.gz"
        i386.sha256 = "3945ce5c4a9210c2cb570dadff3ac73d1de7d26c6ac6dc8a20dfcf66e4051e49"

        autoupdate.strategy = "latest_github_release"
        autoupdate.asset.arm64 = ".*-linux-arm64.tar.gz"
        autoupdate.asset.amd64 = ".*-linux-amd64.tar.gz"
        autoupdate.asset.armhf = ".*-linux-arm.tar.gz"
        autoupdate.asset.i386 = ".*-linux-386.tar.gz"

    [resources.ports]
    main.default = 8096
    wg.default = 8095
    wg.exposed = "UDP"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.allowed = "admins"

    [resources.apt]
    packages = "wireguard"
    packages_from_raw_bash = """
    if dpkg --compare-versions $(uname -r) lt 5.6; then
        echo wireguard-dkms linux-headers-$(uname -r)
    fi
    """
