[Unit]
Description=WireGuard UI
After=network.target wireguard.service wireguard_path.service

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__FINALPATH__/
ExecStart=__FINALPATH__/wireguard-ui --bind-address="127.0.0.1:__PORT__" --disable-login >> /var/log/__APP__/ui.log 2>&1

[Install]
WantedBy=multi-user.target
